.env
.env.backup
.env.production
.env.production.decryption-key

# === BACKEND ===
/vendor
/storage/*.key
/.php-cs-fixer.cache
/.phpunit.cache
.phpunit.result.cache
_ide_helper.php
.phpstorm.meta.php

# === FRONTEND ===
/node_modules
/public/build
/public/hot
/public/storage
npm-debug.log
yarn-error.log

# other
auth.json
/.fleet
/.idea
/.vscode
