.clan-list {
}
.clan-list .clan {
}
.clan-list .clan .clan-info {
  height: 100%;
}
.clan-list .clan-members {
  font-size: large;
  position: relative;
  right: 10px;
  bottom: -10px;
}
.clan-list .clan-members .label {
  font-weight: bold !important;
}
.clan-list .clan-info .clan-title {
  margin-top: 20px;
}
