.clan-list {
}
.clan-list .clan {
}
.clan-list .clan .clan-info {
  height: 100%;
  margin: 4px 0;
}
.clan-list .clan-members {
  font-size: large;
}
.clan-list .clan-members .label {
  font-weight: bold !important;
}
.clan-list .clan-info .clan-title {
  margin: 0 0 8px 0;
}
