<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - L.O.R.D.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.7.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" sizes="32x32"   href="/assets/media/icon.png">
    <meta name="theme-color" content="#588f3d">
  </head>

  <body>
    <div id="top"></div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="L.O.R.D." src="/assets/media/icon.png">
          </a>
          <a class="navbar-brand" href="/">
            L.O.R.D.
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/rules">Правила</a></li>
            <li><a href="/clans" class="text-danger">Кланы</a></li>
            <li><a href="/map">Карта</a></li>
            <li><a href="/videos">Видео</a></li>
            <li><a href="https://vk.com/minetest_lord" target="_blank">
              <i class="fab fa-vk"></i>
            </a></li>
            <li><a href="https://www.discord.gg/uTX3mbb" target="_blank">
              <i class="fab fa-discord"></i>
            </a></li>
            <li><a href="https://www.youtube.com/channel/UCVULgQLzFwXdwG02zoJOfIg" target="_blank">
              <i class="fab fa-youtube"></i>
            </a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
