
$main-color: hsl(100, 35%, 45%);

$role-bg-color: #555;
$role-color-clan-member: #3db;
$role-color-keeper: #c0e03e;
$role-color-squad: #e9be0f;

//player attributes
$player-race: #88710c;
$player-gender-male: #3f00be;
$player-gender-female: #d9006f;

$online-color: #00aa00;
$offline-color: #777777;
