---
title: "Кланы: Интернационал"
layout: default
---

<h2 class="center">International</h2>

<p>
    Клан "Интернационал" - это группа людей, объединившихся для совместной работы, чтобы получать больше выгоды.
    Мы вместе добываем ресурсы, вместе защищаем свою территорию. Каждый в клане равен и может рассчитывать на помощь других.
</p><p>
    Мы ценим взаимовыручку и уважение как к членам клана, так и к другим людям.
</p>

<!--<h3>Устав / Регламент</h3>-->

<!--<h4>Преступления и наказания:</h4>-->
<!--<ul>-->
<!--    <li>Воровство у членов клана: возвращение всех украденных вещей + штраф 50 алмазных монет.</li>-->
<!--    <li>Рейд на другой клан без объявления войны: возвращение украденных вещей и публичное извинение.</li>-->
<!--    <li>Попытка развязать войну между кланами: Публичное извинение + штраф 50 алмазных монет.</li>-->
<!--    <li>Предательство: Выгон из клана.</li>-->
<!--</ul>-->
